server:
  port: 8082
spring:
  application:
    name: task-service
  datasource:
    url: jdbc:h2:mem:taskdb
    username: sa
    password: teste
    driver-class-name: org.h2.Driver
  h2:
    console:
      enabled: true
  jpa:
    show-sql: true
    database-platform: org.hibernate.dialect.H2Dialect